::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #3a3c43;
}

::-webkit-scrollbar-thumb {
  background: #464d55;
}

::-webkit-scrollbar-thumb:hover {
  background: #2a2c30;
  border-radius: 5px;
}

::-webkit-scrollbar:hover {
}

